.navbar-nav > li{
    margin-left:5px;
    margin-right:5px;
  }
.navbar-nav >li>a{
    font-weight: bold;
    color: white;
  }
#Nav-Name{
    font-weight: bold;
    color:black;
}
form label {
    font-weight:bold;
    margin-bottom:5px;
}

#submit{
  margin-top:5px;
}